.auto-style1
{
    width: 100%;
}

.auto-style2
{
    height: 51px;
}

.auto-style3
{
    width: 520px;
}

.headerMasterPAWA
{
    padding-left:20px;
    height: 51px;
    width: 100%;
    font-family:Arial;
    font-size:40px;
    color: white;
    text-align:center;
}

.divHeaderMaster
{
    height: 100px; 
    /*background-color:dodgerblue;*/
    background-image: linear-gradient(black,#3c68f8,#0e2270,#0e2270);
    border-color:black;
    border-width:10px;
   
}

.divFooterMaster
{
    height: 100px; 
    background-image: linear-gradient( #3c68f8,#0e2270,#0e2270);    
}


.commonFont
{
    font-family:Arial;
    font-size:14px;
}